
<!DOCTYPE html>
<html lang="en">
 <head>
</head>
<body>

    <div class="agile-about-top">
        <div class="container">
            <h3 class="agile">About Us</h3>
            <div class="about-section">
                <div class="col-md-7 ab-left">
                    <img src="~/images/backgroundarchides.jpg" alt="" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-5 ab-text">
                <h3>Sollicitudin sed</h3>
                <p>
                    Etiam quis quam auctor, cursus ipsum a, placerat dui. Aliquam erat volutpat. Donec bibendum viverra commodo. Morbi erat est, fringilla id sollicitudin sed, hendrerit nec est. Fusce maximus scelerisque turpis vel tempus
                    <span>Morbi scelerisque a dolor vel feugiat. Nunc volutpat, magna in interdum commodo, magna orci venenatis risus, eu congue dolor ante quis eros. Proin pretium mattis sodales. Donec hendrerit lacus sit amet turpis lacinia suscipit.</span>
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- newsletter -->
    @*<div class="container">
        <div class="newsletter">

            <div class="col-md-4 agileinfo_newsletter_left">
                <h3>watch our newsletter !</h3>
            </div>
            <div class="col-md-8 agileinfo_newsletter_right">
                <form action="#" method="post">
                    <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>*@
    <!-- //newsletter -->

</body>
</html>